input.ng-invalid.ng-touched {
    background-color: #f19999;
}

select.ng-invalid.ng-touched {
    background-color: #f19999;
}

textarea.ng-invalid.ng-touched {
    background-color: #f19999;
}

/*
.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}*/

.btn-add-container {
    text-align: right;
}

.btn-atividade-container {
    float: right;
}

.btn-delete {
    background-color: #00000000;
}

.btn-edit {
    background-color: #00000000;
}

.column-container {
    padding: 0px 12px 0px 12px;
    overflow: hidden;
    padding-bottom: 50px;
    text-align: center;
}

.todo-column {
    background-color: #f16060;
    height: 100%;
    border-radius: 15px;
    padding-bottom: 30px;
}

.doing-column {
    background-color: #ffad66;
    height: 100%;
    border-radius: 15px;
    padding-bottom: 30px;
}

.done-column {
    background-color: #a8d08b;
    height: 100%;
    border-radius: 15px;
    padding-bottom: 30px;
}

.vertical-spacer {
    height:15px;
    text-align: center;
}


.list-row .atividade-box {
    padding: 6px 18px 6px 18px;
}

label {
    font-family: times;
    font-size: 1.4em;
}

h1 {
    font-size: 3.5em;
    font-family: palatino;
    font-variant: small-caps;
}

h2 {
    font-size: 2.5em;
    font-family: palatino;
    font-variant: small-caps;
}

hr {
    border-color: #7b797b;
}

.atividade-box dt {
    text-align: left;
    font-family: palatino;
    font-size: 2em;
    font-variant: small-caps;
}

.atividade-box dd {
    padding-top: 6px;
    text-align: center;
    font-family: times;
    font-size: 1.4em;
}
