<!DOCTYPE html>
<html ng-app="todolist-tracker">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="app.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
</head>

<body ng-controller="todolist">
    <div class="container">
        <h1>{{ appName }}</h1>

        <div class="row flex-row">
            <div class=col-lg-4>
            </div>

            <div class="col-lg-4">
                <form name="formAdd">
                    <div>
                        <input type="text" name="atividadeNewNome" ng-model="atividadeNewNome" required>
                        <input type="text" name="atividadeNewDescricao" ng-model="atividadeNewDescricao" required>
                        <select name="atividadeNewEstado" ng-model="atividadeNewEstado" ng-options="e for e in estadosPossiveis" required>
                        <input type="submit" ng-click="atividadeAdd()" ng-required="formAdd.$valid" ng-disabled="formAdd.$invalid">
                    </div>
                </form>
            </div>

            <div class=col-lg-4>
            </div>
        </div>


        <div class="col-lg-13 vertical-spacer"></div>

        <div class="list-row flex-row">

            <div class="column-container col-lg-4">
                <div class="todo-column">
                    <div class="atividade-box" ng-repeat="atividade in atividadesList | filter: {'estado': 'TODO'}">
                        <dt>
                            <span class="btn-container">
                                    <button ng-click="atividadeRemove(atividade.id)" class="btn btn-lg glyphicon glyphicon-trash btn-delete"></button>
                                    <button class="btn btn-lg glyphicon glyphicon-edit btn-edit"></button>
                            </span>
                            {{ atividade.nome }}
                        </dt>
                        <dd> {{ atividade.descricao }} </dd>
                    </div>
                </div>
            </div>

            <div class="column-container col-lg-4">
                <div class="doing-column">
                    <div class="atividade-box" ng-repeat="atividade in atividadesList | filter: {'estado': 'DOING'}">
                        <dt> {{ atividade.nome }} </dt>
                        <dd> {{ atividade.descricao }} </dd>
                    </div>
                </div>
            </div>

            <div class="column-container col-lg-4">
                <div class="done-column">
                    <div class="atividade-box" ng-repeat="atividade in atividadesList | filter: {'estado': 'DOING'}">
                        <dt> {{ atividade.nome }} </dt>
                        <dd> {{ atividade.descricao }} </dd>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <h1> estado: {{ formAdd.atividadeNewNome.$error.required }} </h1>
        </div>

    </div>
</body>
</html>
